<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8"/>
    	#if($title)
    		<title>#html($title)</title>
    	#end
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<link href="#cached('/static/cached/css/bootstrap.css')" rel="stylesheet"/>    	
    	<link href="#cached('/static/cached/css/app.css')" rel="stylesheet"/>
    	
		#if($css)
			#parse($css)
		#end		
	</head>
	<body ng-app="myApp">
		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		-->
		<script type="text/javascript" src="#cached('/static/cached/js/jquery.js')"></script>
		<script type="text/javascript" src="#cached('/static/cached/js/stack.js')"></script>	
		<script type="text/javascript">
			stack.cachedUrls = $cachedUrls;
		</script>
		<script type="text/javascript" src="#cached('/static/cached/js/websocket.js')"></script>
		
		<script type="text/javascript" src="#cached('/static/cached/js/lib/angular-1.2.9/angular.js')"></script>	
		<script type="text/javascript" src="#cached('/static/cached/js/lib/angular-1.2.9/angular-route.js')"></script>	
		<script type="text/javascript" src="#cached('/static/cached/js/app.js')"></script>
		<script type="text/javascript" src="#cached('/static/cached/js/services.js')"></script>	
		<script type="text/javascript" src="#cached('/static/cached/js/controllers.js')"></script>	
		<script type="text/javascript" src="#cached('/static/cached/js/filters.js')"></script>	
		<script type="text/javascript" src="#cached('/static/cached/js/directives.js')"></script>	
						
		<div class="container">		
			#if($body)
				#parse($body)
			#end
		</div>

		#if($javascript)
			#parse($javascript)		
		#end
	</body>
</html>